<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- 이 페이지는 반응형 페이지  -->
        <!--각 기기별 너비에 맞춰서 꽉 차게 표시  -->


        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>
                Board Project <small>for Spring MVC + JPA</small>
            </h1>
        </div>

        <div class="panel panel-default" layout:fragment="content">

        </div>
        <!--화면을 분할하고 각각 다른 html을 불러올 수 있음. 프레임이나 아이 프레임처럼... -->
        <!--즉, css나 js같은 설정은 기본으로 가져가고 표시하고자 하는 내용만 따로 html로 만들어서  -->
        <!-- 타임리프 layout:fragment 부분에 대체하여 끼워 표시함.  -->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

        <script>
            window.jQuery
            || document
                .write('<script th:src="@{/js/vendor/jquery-1.12.0.min.js}"><\/script>')
        </script>
        <script th:src="@{/js/plugin.js}"></script>
        <script th:src="@{/js/main.js}"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <!-- custom javascript  -->
        <th:block layout:fragment="script"></th:block>
        ​
    </body>


</html>