<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">List Page</div>
    <div class="panel-body">
        <p>[[${result}]]</p>
        <div>
            <ul class="list-group">
                <li class="list-group-item" th:each="test: ${result.content}">[[${test}]]</li>
            </ul>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>