<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        ThemeLeaf5
    </title>
</head>
<body>
<table border="1" th:inline="text">
    <tr>
        <td>MID</td>
        <td>MNAME</td>
        <td>REGDATE</td>
    </tr>

    <tr th:each="member : ${list}">
        <td>[[${member.mid}]]</td>
        <td>[[${member.mname}]]</td>
        <td>[[${member.regdate}]]</td>
    </tr>

    <script th:inline="javascript">
        var result= [[${result}]];
    </script>
</table>
</body>
</html>